/* assets/css/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
}

/* 英数字用のクラス */
.font-roboto {
  font-family: 'Roboto', sans-serif;
}